body {
	overflow-y: scroll; 
}	
/* 
	스크롤바 유무에 따른 좌우 정렬 이동을 막기 위함 
*/

.ui.grid > .row.daria_padding_bottom_0 {
	padding-bottom: 0;
}

.ui.grid > .column.daria_padding_bottom_0 {
	padding-bottom: 0;
}

.ui.grid > .column.daria_padding_top_12 {
	padding-top: 12px;
}

.ui.grid > .column.daria_padding_top_0 {
	padding-top: 0;
}

.ui.grid > .column.daria_padding_left_0 {
	padding-left: 0;
}

.ui.grid > .column.daria_margin_right_0 {
	margin-right: 0;
}


.ui.table > .ui.checkbox.daria_checkbox_padding_top_3 {
	padding-top: 3px;
}

.ui.grid > .row.daria_darggable {
    border-top: 1px solid #d4d5d6;
    border-bottom: 1px solid #d4d5d6; 
    border-left: 10px solid #d4d5d6; 
    border-right: 1px solid #d4d5d6; 
    cursor: move;
}