<!DOCTYPE html>
<html>
<head>
  <title>Daria UI Kit</title>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>
</head>
<body>
  <div class="ui container">

  <h1>Daria UI Kit</h1>
  <h2>Daria UI Kit</h2>
  <h3>Daria UI Kit</h3>
  <h4>Daria UI Kit</h4>




</div>
</body>
</html>